PORT=3000
NODE_ENV=development
DB_HOST=localhost
DB_NAME=tgc_art_test
DB_USER=root
DB_PASSWORD=
TGC_API_BASE_URL=https://www.thegamecrafter.com/api
TGC_API_KEY_ID=
TGC_PRIVATE_KEY=
SESSION_COOKIE_NAME=tgc_art_test_session
APP_BASE_PATH=
APP_SERVER=https://arttest.fairway3games.com
TEST_DEFAULT_SAMPLE_SIZE=10
TEST_MIN_VOTES_PER_ASSET=10
